/* Eric Meyer's CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 30px 0;
}

a {
    color: #000000;
    text-decoration: none;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 110px;
    background: url("../images/image5.jpg") no-repeat center top #a8ddff;
    border-bottom: 1px solid #0400b0;
    position: relative;
}

.header div {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    height: 32px;
    background: #cdebff;
    text-align: center;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.container {}


/* Left Sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
    width: 255px;
    height: 670px;
    float: left;
    background: url("../images/image6.jpg") no-repeat #cdebff;
}

.nav {
    margin: 15px 0 15px 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.nav li ul {
    margin-left: 20px;
    font-size: 14px;
}

.nav li ul li ul {
    font-size: 12px;
}

.login {
    margin-top: 15px;
    border-top: 2px solid #0400b0;
    line-height: 1;
}

.login form {
    margin-top: 10px;
    position: relative;
}

.login input, button {
    background: #cdebff;
    box-shadow: none;
    outline: none;
    border: 1px solid #d4d0c8;
}

.login label {
    position: absolute;
    right: 160px;
    left: auto;
    font-weight: bold;
}

.login input {
    position: absolute;
    width: 80px;
    right: 70px;
    left: auto;
}

.login button {
    position: absolute;
    width: 60px;
    right: 92px;
    left: auto;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/

.right-sidebar {
    width: 315px;
    height: 640px;
    float: right;
    background: #edf8ff;
}

.news {
    margin: 15px 0 15px 20px;
}

.news ul {
    list-style-image: url("../images/image4.jpg");
}

.news ul li {
    margin-bottom: 20px;
}

.news ul p {
    font-size: 14px;
}

.news ul a {
    font-size: 14px;
    font-weight: bold;
}

.content {
    margin: 0 315px 0 255px;
    background: #edf8ff;
}

.content p {
    padding: 5px;
}

.contacts {
    margin: 0 0 0 255px;
    height: 30px;
    background: #0400b0;
    color: #ffffff;
}

.contacts p {
    margin: 0;
    padding: 0;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
}

ul.sub_level {
  display: none;
  list-style-type: none;
  color: #714636;
}

ul.sub_sub_level {
  display: none;
  list-style-type: none;
  color: #714636;
}
